* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 745px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

@import 'base/variables';
@import 'base/mixins';

@import 'blocks/main';
@import 'blocks/header';
@import 'blocks/about';
@import 'blocks/title';
@import 'blocks/btn';
@import 'blocks/work';
@import 'blocks/team';
@import 'blocks/post';
@import 'blocks/contact';
@import 'blocks/footer';
@import 'blocks/services';
@import 'blocks/project';
@import 'blocks/blog';
@import 'blocks/connection';
@import 'blocks/hamburger';
@import 'blocks/overlay';


@import 'base/media';
