.blog {
    display: flex;
    justify-content: center;
    &__container {
    margin: 76px 64px 78px 64px;
    max-width: 1150px;
    background-color: #f9f9f9;
    padding: 65px;
    display: flex;
    flex-direction: column;
    }
    &__content {
        width: 80%;
        
    }
    &__wrapper {
        display: flex;
        margin-bottom: 61px;
    }
    
    &__post {
        padding: 33px;
        background-color: #fff;
        margin-right: 54px;
        margin-bottom: 55px;
        &:nth-child(2) {
            margin-bottom: 0px;
        }
    }
    &__img {
        width: 100%;
    }
    &__title {
        font-size: 30px;
        line-height: 66px;
        font-weight: 300;
        letter-spacing: 0.035em;
        color: #000000;
    }
    &__subtitle {
        font-size: 15px;
        line-height: 25px;
        font-weight: 300;
        color: #d3b000;
        margin-bottom: 30px;
    }
    &__text {
        opacity: 0.7;
        font-size: 16px;
        line-height: 25px;
        font-weight: 400;
        letter-spacing: 0.005em;
        color: $first-color;
        margin-bottom: 66px;
    }
}
    

.sidebar-blog {
    &__title {
        opacity: 0.7;
        font-size: 23px;
        line-height: 32px;
        font-weight: 300;
        letter-spacing: 0.02em;
        color: $first-color;
    }
    &__nav {
        display: flex;
        flex-direction: column;
        margin-bottom: 56px;
    }
    &__link {
        font-size: 16px;
        line-height: 25px;
        font-weight: 300;
        font-style: italic;
        color: $first-color;
        text-decoration: none;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            text-shadow: 1px 1px 2px #d3b000;
        }
    }
}
.line {
    margin: 16px 0 35px 0;
    &:after {
        content: '';
        display: block;
        width: 297px;
        height: 3px;
        background-color: #d3b000;
    }
}