.services {
    padding-top: 164px;
    &__about {
      @include text;
      line-height: 30px;
      opacity: 0.7;
    }
    &__block {
        margin-top: 154px;
        display: flex;
        background-color: #f9f9f9;
    }
    &__text {
        padding: 48px 35px;
    }
    &__title {
        font-size: 45px;
        line-height: 60px;
        font-weight: 600;
        letter-spacing: 0.03em;
        color: #505d68;
        margin-bottom: 91px;
    }
    &__img {
        object-fit: cover;
        width: 50%;
    }
    &__info {
        display: flex;
        font-size: 16px;
        line-height: 30px;
        font-weight: 300;
        letter-spacing: 0.05em;
        color: #505d68;
    }
    &__column-one {
        width: 50%;
        margin-right: 49px;
        text-align: start;
        
    }
    &__column-two {
        width: 50%;
        text-align: start;
    }
}